body
{
	margin: 0;
	padding: 0;
}

#wrapper
{
    width: 1000px;
    padding-top: 50px;
    margin: 16px auto;
}

table.set tr.insufficient
{
    background-color: #FFBFBF;
}

table .header
{
    font-weight: bold;
}

table#components, table#orders
{
    margin: 0 auto;
    border: 2px solid black;
}

table#components td, table#orders td
{
    padding: 6px;
}

table#components .header td
{
    cursor: pointer;
}

.order:after
{
    content: "˄";
}

.order.reverse:after
{
    content: "˅";
}

.table.login
{

}

.table.login p.big-caption
{
    padding: 10px 0px;
    margin: 10px 0px;
    border-bottom: 2px solid black;
}

.table.login .column
{
    margin-top: 10px;
}

.table.login .cell
{
    padding: 5px;
}

.table.login p input
{
    margin-top: 10px;
    padding: 5px 10px;
}

.table .column
{
    display: inline-block;
}

.table .column .cell.left
{
    text-align: left;
}

.table .column .cell.right
{
    text-align: right;
}

.center
{
    text-align: center;
}

.left-align
{
    text-align: left;
}

.success
{
    border: 2px solid #00B700;
    padding: 10px;
    background-color: #BFFFBF;
    margin: 16px;
}

.error
{
    border: 2px solid #FF4848;
    padding: 10px;
    background-color: #FFBFBF;
    margin: 16px;
}

.caption
{
    font-size: 24px;
    font-weight: bold;
}

.big-caption
{
    font-size: 32px;
    font-weight: bold;
}

.hide
{
	display: none;
}

ul#menu
{
    list-style-type: none;
    display: block;
    border-bottom: 3px solid black;
}

ul#menu li
{
    border-right: 1px solid black;
    display: inline-block;
    margin: 0;
}

ul#menu li:first-child
{
    border-left: 1px solid black;
    margin-left: 25px;
}

ul#menu li a
{
    color: black;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    margin: 0;
}

table.set
{
    margin: 0 auto;
    border: 1px solid black;
}

table.set tr.header
{
    font-weight: bold;
}

table.set td
{
    padding: 10px;
}
