<table id = "components">
    <tr class = "header">
        <td ng-click = "order('name')">Nazwa<span class = "order" ng-class = "{reverse: reverse}" ng-show = "predicate == 'name'"></span></td>
        <td ng-click = "order('type')">Rodzaj<span class = "order" ng-class = "{reverse: reverse}" ng-show = "predicate == 'type'"></span></td>
        <td ng-click = "order('amount')">Ilość<span class = "order" ng-class = "{reverse: reverse}" ng-show = "predicate == 'amount'"></span></td>
        <td ng-click = "order('price')">Cena<span class = "order" ng-class = "{reverse: reverse}" ng-show = "predicate == 'price'"></span></td>
        <td></td>
    </tr>
    <tr ng-repeat = "component in components | orderBy:predicate:reverse">
        <td>{{component.name}}</td>
        <td>{{componentsType[component.type]}}</td>
        <td>{{component.amount}}</td>
        <td>{{component.price | number:2}} zł</td>
        <td>
            <p><a ng-href = "#/components/show/{{component.id}}" ng-disable = "adding">Pokaż specyfikacje</a></p>
        </td>
    </tr>
</table>
