<div ng-show = "loading == 2">
<p class = 'caption'>Specyfikacja: {{component.name}}</p>
<table>
    <tr><td>Nazwa</td><td>Wartość</td></tr>
    <tr ng-repeat = "spec in specs">
        <td>{{spec.key}}</td>
        <td>{{spec.value}}</td>
    </tr>
</table>
</div>
<p class = 'big-caption' ng-show = "loading < 2">Wczytywanie...</p>
