<div class = "center">
    <form ng-submit = "loginMe()">
        <div class = "table login">
            <p class = "big-caption">Logowanie</p>
            <div class = "success" ng-if = "loginResult['status'] == 'success'">
                Zalogowano! Za 5 sekund nastąpi przekierowanie na strone główną!
            </div>
            <div class = "error" ng-if = "loginResult['status'] == 'invalid'">
                Niepoprawny login i hasło!
            </div>
            <div class = "column">
                <div class = "cell left">Nazwa użytkownika: </div>
                <div class = "cell left">Hasło:</div>
            </div>
            <div class = "column">
                <div class = "cell right"><input type = "text" ng-model = "login" ng-disabled = "loggingIn || loginResult['status'] == 'success'"></div>
                <div class = "cell right"><input type = "password" ng-model = "password" ng-disabled = "loggingIn || loginResult['status'] == 'success'"></div>
            </div>
            <p class = "center"><input type = "submit" value = "Zaloguj" ng-disabled = "loggingIn || loginResult['status'] == 'success'"></p>
        </div>
    </form>
</div>
