<div class = "error" ng-if = "orders['status'] == 'not_logged_in'">
    Musisz być zalogowany!
</div>
<table id = "orders" ng-if = "orders['status'] == 'success'">
    <tr class = "header">
        <td>Nazwa</td>
        <td>Data zamówienia</td>
        <td>Status</td>
        <td>Cena</td>
        <td></td>
    </tr>
    <tr ng-repeat = "order in orders['data']">
        <td>{{order.name}}</td>
        <td>{{order.date}}</td>
        <td>{{orderStatus[order.status]}}</td>
        <td>{{order.price | number:2}} zł</td>
        <td><input type = "button" ng-click = "cancelOrder(order.id)" value = "Anuluj zamówienie" ng-if = "order.status == 'submitted'"></td>
    </tr>
</table>
