<div class = "center">
	<p class = "caption">Wybierz zestaw ...</p>
	<p><select ng-model = "selectedSet" ng-change = "setChanged()" ng-options = "set.id as set.name for set in setList">
		<option value = "">--- Wybierz zestaw ---</option>
	</select></p>
	<p class = "caption">... lub stwórz nowy!</p>
    <div class = "success" ng-if = "addSetResult['status'] == 'success'">
        Dodano nowy zestaw!
    </div>
    <div class = "error" ng-if = "addSetResult['status'] == 'name_already_used'">
        Taka nazwa już istnieje!
    </div>
    <div class = "error" ng-if = "addSetResult['status'] == 'not_logged_in'">
        Musisz być zalogowany by móc dodać nowy zestaw!
    </div>
	<p><input type = "text" ng-model = "newSetName" ng-disabled = "addingSet"><input type = "button" value = "Dodaj" ng-click = "addNewSet()" ng-disabled = "addingSet"></p>

	<div ng-class = "{hide: !selectedSet}">
        <p class = "success" ng-if = "buySetResult['status'] == 'success'">Zakupiono zestaw!</p>
        <p class = "error" ng-if = "buySetResult['status'] == 'insufficient_items'">
            Niektórych części nie ma w magazynie!
        </p>

        <p class = "success" ng-if = "removeSetResult['status'] == 'success'">
            Usunięto wybraną część z zestawu!
        </p>
        <p class = "error" ng-if = "removeSetResult['status'] == 'error'">
            Wystąpił błąd: {{removeSetResult['errormsg']}}
        </p>

        <p class = "success" ng-if = "changeAmountResult['status'] == 'success'">
            Zmieniono ilość części!
        </p>

        <p class = "error" ng-if = "changeAmountResult['status'] == 'error'">
            Wystąpił błąd: {{changeAmountResult['status']}}
        </p>

        <table class = "set">
            <tr class = "header"><td>Nazwa</td><td>Rodzaj</td><td>Ilość</td><td>Cena</td><td></td></tr>
            <tr ng-repeat = "component in selectedSetComponents" ng-class = "{insufficient: component.totalAmount < component.amount}">
                <td>{{component.name}}</td>
                <td>{{componentsType[component.type]}}</td>
                <td>{{component.amount}}</td>
                <td>{{component.price * component.amount | number:2}} zł</td>
                <td>
                    <input type = "button" value = "Zmień ilość" ng-click = "changeAmount(component)">
                    <input type = "button" value = "Usuń z zestawu" ng-click = "removeComponent(component)">
                </td>
            </tr>
            <tr><td colspan = "3"><b>Łączna cena:</b></td><td>{{totalPrice | number:2}} zł</td><td></td></tr>
        </table>
        <input type = "button" value = "Kup zestaw" ng-click = "buySet()">

        <p class = "caption">Jakiego typu części szukasz?</p>
        <select ng-model = "selectedType" ng-change = "changeSelectedType()" ng-options = "key as value for (key, value) in componentsType">
            <option value = "">--- Wybierz ---</option>
        </select>
        <p class = "success" ng-if = "addComponentResult['status'] == 'success'">
            Dodano część do zestawu!
        </p>
        <table ng-if = "components" id = "components">
            <tr class = "header">
                <td>Nazwa</td>
                <td>Rodzaj</td>
                <td>Dostępna ilość</td>
                <td>Cena</td>
            </tr>
            <tr ng-repeat = "component in components">
                <td>{{component.name}}</td>
                <td>{{componentsType[component.type]}}</td>
                <td>{{component.amount}}</td>
                <td>{{component.price | number:2}} zł</td>
                <td>
                    <p><button ng-click = "addComponent(component)" ng-disable = "adding">Dodaj do zestawu</button></p>
                    <p><a ng-href = "#/components/show/{{component.id}}" ng-disable = "adding">Pokaż specyfikacje</a></p>
                </td>
            </tr>
        </table>
    </div>
</div>
